<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eclipseutils.ui.copyto.history.internal.HistoryViewPart"
            id="eclipseutils.ui.copyto.history.view"
            name="CopyTo History"
            restorable="true">
      </view>
   </extension>

</plugin>
