<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="eclipseutils.copyto.from.resource.internal.AdapterFactory">
         <adapter
               type="eclipseutils.ui.copyto.api.Copyable">
         </adapter>
      </factory>
   </extension>

</plugin>
