<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="targets" name="%Bundle-Name" schema="schema/targets.exsd"/>
   <extension-point id="resultHandlers" name="%Bundle-Name" schema="schema/resultHandlers.exsd"/>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=copy">
         <dynamic
               class="eclipseutils.ui.copyto.internal.DynamicItem"
               id="eclipseutils.ui.copyto.popup">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="eclipseutils.ui.copyto.isCopyable">
               </reference>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:edit?after=copy">
         <dynamic
               class="eclipseutils.ui.copyto.internal.DynamicItem"
               id="eclipseutils.ui.copyto.editmenu">
         </dynamic>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.workbench.file?before=print">
            <command
                  commandId="eclipseutils.ui.copyto"
                  icon="icons/e16/copyto.png"
                  id="eclipseutils.ui.copyto.dropdown"
                  label="%menu.label"
                  style="pulldown">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:eclipseutils.ui.copyto.dropdown">
         <dynamic
               class="eclipseutils.ui.copyto.internal.DynamicItem"
               id="eclipseutils.ui.copyto.dropdown.items">
         </dynamic>         
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eclipseutils.ui.copyto"
            name="%menu.label">
         <commandParameter
               id="id"
               name="%commandParameter.id.name"
               optional="true"
               typeId="eclipseutils.ui.copyto.TargetParameterType">
         </commandParameter>
      </command>
      <commandParameterType
            converter="eclipseutils.ui.copyto.internal.TargetParameterConverter"
            id="eclipseutils.ui.copyto.TargetParameterType"
            type="eclipseutils.ui.copyto.internal.Target">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eclipseutils.ui.copyto.internal.CopyToHandler"
            commandId="eclipseutils.ui.copyto">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eclipseutils.ui.copyto.isCopyable">
         <with
               variable="activeMenuSelection">
               <or>
            <instanceof
                  value="org.eclipse.jface.text.ITextSelection">
            </instanceof>
            <iterate
                  operator="or">
               <or>
                  <adapt
                        type="eclipseutils.ui.copyto.api.Copyable">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </or>
            </iterate>
         </or>
         </with>         
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eclipseutils.ui.copyto.internal.PreferenceInitializer">
      </initializer>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="eclipseutils.ui.copyto.api.json.MapResponse"
            class="eclipseutils.ui.copyto.internal.AdapterFactory">
         <adapter
               type="java.net.URL">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eclipseutils.ui.copyto.internal.preferences.CopyToPreferencePage"
            id="eclipseutils.ui.copyto.PreferencePage"
            name="%preferencePage.name">
      </page>
   </extension>
</plugin>
