<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="targets" name="%Bundle-Name" schema="schema/targets.exsd"/>
   <extension-point id="resultHandlers" name="%Bundle-Name" schema="schema/resultHandlers.exsd"/>  
   <extension-point id="protocols" name="%Bundle-Name" schema="schema/protocols.exsd"/>
</plugin>
